body {
  background-color: beige;
}

#grid {
  display: inline-block;
  background-color: yellow;
  border: 1px solid black;
  user-select: none;
  touch-action: manipulation;
}

.column {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.square,
.piece {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.square {
  background-color: white;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.piece {
  position: absolute;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.highlighted {
  width: 40px;
  height: 40px;
  border: 5px solid #00a2e8;
}

#turnParagraph {
  font-size: 24px;
}

.win {
  color: #ff4c00;
}
